.div3{
    position: relative;
}
.div3-2{
    height: 65px;
    width: 65px;
    padding-left: 20px;
    padding-top: 20px;

}
.div3-2 img{
    height: 100%;
    width: 100%;
}
.div3-3{
    height: 80px;
    width: 350px;
    font-size: 50px;
    position: absolute;
    top: 20px;
    left: 352px;
}
.s1{
    color: #FF7000;
    padding-bottom: 5px;
    border-bottom: 4px #FF7000 solid;
}

.div3-4{
    position: absolute;
    right: 30px;
    font-size: 50px;
    top: 20px;
}
.div3-5 span{
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 120px;
    font-weight: bolder;
}
.div3-6{
    height: 140px;
}
.div4{
    display: flex;
}
.div4-2{
    height: 200px;
    width: 370px;
    padding-left: 30px;
    margin-bottom: 30px;
}
.div4-2 img{
    height: 100%;
    width: 100%;
}
.div4-3{
    padding-left: 20px;
}
.div4-4{
    font-size: 50px;
}
.div4-5{
    font-size: 40px;
    color:#B3B3B3 ;
}
