.div2{
    height: 150px;
    background-color: #2D2D2E;
    position: relative;
}
.div2-2{
    height: 80px;
    width: 80px;
    position: absolute;
    top: 28px;
    left: 40px;

}
.div2-2 img{
    height: 100%;
    width: 100%;
}
.div2-3{
    font-size: 42px;
    color: white;
    position: absolute;
    top: 40px;
    left: 130px;
}
.div2-4{
    height: 60px;
    width: 140px;
    font-size: 42px;
    position: absolute;
    padding-left: 60px;
    border-radius: 10px;
    top: 40px;
    right: 50px;
    background-color: #FF7000;
}
.div2-4 a{
    color: white;
}
.ddd{
    height: 150px;
}
.div2-5{
    height: 550px;
}
.div2-5 img{
    height: 100%;
    width: 100%;
}
.c3{
    margin-top: 40px;
    border-bottom: 1px solid #a2a2b6;
}

.c3-2{
    font-size: 50px;
    font-weight: bolder;
    padding-left: 40px;
    margin-bottom: 10px;
}
.c3-3{
    font-size: 40px;
    padding-left: 40px;
    margin-bottom: 25px;
    color: #848494;
}
.c3-4{
    height: 160px;
    position: relative;
}
.s1{
    padding-top: 30px;
    padding-left: 40px;
    height: 70px;
}
.s2{
    position: absolute;
    height: 90px;
    right: 40px;
}
.c4{
    height: 120px;
    background-color: #E5C057;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    margin: 40px;
    border-radius: 10px;
}
.c4 a{
    color: white;
}
.c5{
    height: 240px;
    margin: 40px;
    border-bottom: 1px solid #a2a2b6
}
.c5-2{
    position: relative;
}
.n1{
    font-size: 45px;
    font-weight: bolder;
}
.n2{
    font-size: 35px;
    position: absolute;
    right: 0;
    color: #848494;
}
.c5-3{
    height: 140px;
    display: flex;
    align-items: center;
    font-size: 45px;
    margin-top: 15px;
    justify-content: space-around;
}
.c5-3 a{
    color: #000028;
}
.c5-4{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    background-color: #F6F8FA;
}
.div6{
    height: 240px;
    /*width: 100%;*/
    padding: 40px;
    padding-top: 0;
    padding-bottom: 140px;
}
.div6-2{
    height: 240px;
    width: 48%;
    float: left;
    position: relative;

}
.div6-2 img{
    height: 100%;
    width: 100%;
}
.div6-3{
    float: right;
    height: 240px;
    width: 48%;
    /*margin-right: 30px;*/
    position: relative;
}
.div6-3 img{
    height: 100%;
    width: 100%;
}
.div6-4,.div6-5{
    padding-top: 8px;
    font-size: 36px;
}
.div6-6,.div6-7{
    padding-top: 8px;
    font-size: 34px;
    color: #A2A2B6;
}
.div6-8,.div6-9{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 5px;
    font-size: 30px;
    color: #fff;
    background-color: rgba(162,162,182,0.5);
    /*opacity: 0.8;*/
}
#h4 {
    font-size: 40px;
    font-weight: bolder;
    margin: 40px;
}
