body{
    margin: 0;
}
a{
    text-decoration: none;
}
#div2{
    height: 100%;
    /*width: 100%;*/
    margin: auto;
}
#bbt{
    height: 90px;
    width: 100%;
}

#div3{
    height: 90px;
    width: 100%;
    background-color: white;
    /*margin-top: 10px;*/
    position: fixed;
    z-index: 1;
}
#div3-2{
    margin-left: 15px;
}
#div3-2 img{
    height: 24px;
    width: 24px;
    margin-top: 15px;
    float: left;
}
#div3-3{
    float: left;
    margin-top: 16px;
    font-size: 18px;
    margin-left: 10px;
}
#a2{
    height: 28px;
    width: 150px;
    float: right;
    /*border: 1px black solid;*/
    margin-right: 15px;
    margin-top: 14px;
    background-color: #f6f6f7;
    border-radius: 4px;
}
#a2 span{
    margin-left: 10px;
    font-size: 13.5px;
    color: #B3B3B3;
}
#div3-4 img{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 24px;
    top: 16px;
}
#div4{
    height: 20px;
    width: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: space-around;  /*平分间距*/
}
.s1{
    color: #272727;
}
#a3{
    color: #FF7000;
}
#div4-2{
    height: 0;
    width: 13px;
    border: 1px #FF7000 solid;
    position: absolute;
    right: 22px;
    top: 25px;
}
.div5{
    height: 100%;
    /*width: 100%;*/
    background-color: white;
    position: relative;
}
.div5-2{
    margin: 16px;
    margin-bottom: 0;
}
.div5-2 img{
    height: 100%;
    width: 100%;
}
.div5-3{
    height: 40px;
    width: 100%;
    background-color: #F4F6F6;
    margin-bottom: 16px;
}
.div5-3-2{
    float: right;
    margin-right: 20px;
}
.div5-3-3{
    margin-left: 12px;
}
.div5-4{
    position: absolute;
    bottom: 50px;
    right: 20px;
    padding: 2px 3px;
    font-size: 10px;
    color: #fff;
    background-color: rgba(162,162,182,0.5);
}
#h4{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 16px;
    margin-top: 16px;
}
.div6{
    height: 130px;
    /*width: 100%;*/
    padding: 16px;
    padding-top: 0;
}
.div6-2{
    height: 100px;
    width: 48%;
    float: left;
    position: relative;

}
.div6-2 img{
    height: 100%;
    width: 100%;
}
.div6-3{
    float: right;
    height: 100px;
    width: 48%;
    /*margin-right: 30px;*/
    position: relative;
}
.div6-3 img{
    height: 100%;
    width: 100%;
}
.div6-4,.div6-5{
    font-size: 14px;
}
.div6-6,.div6-7{
    font-size: 8px;
    color: #A2A2B6;
}
.div6-8,.div6-9{
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px 3px;
    font-size: 10px;
    color: #fff;
    background-color: rgba(162,162,182,0.5);
    /*opacity: 0.8;*/
}
.div7{
    height: 130px;
    /*width: 100%;*/
    padding: 16px;
}
.div7-2{
    height: 100px;
    width: 48%;
    float: left;
    position: relative;
}
.div7-6{
    height: 100px;
    width: 48%;
    float: right;
    position: relative;
}
.div7-2 img{
    height: 100%;
    width: 100%;
}
.div7-6 img{
    height: 100%;
    width: 100%;
}
.div7-3,.div7-8 {
    position: absolute;
    bottom: 5px;
    right: 5px;
    padding: 2px 3px;
    font-size: 10px;
    color: #fff;
    background-color: rgba(162, 162, 182, 0.5);
}
.div7-4,.div7-9{
    font-size: 14px;
}
.div7-5,.div7-2-2 {
    font-size: 8px;
    color: #A2A2B6;
}
#div8{
    /*background-color: #B3B3B3;*/
    margin-top: 24px;
    margin-bottom: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div8-2{
    height: 30px;
    width: 30px;
}
#div8-2 img{
    height: 100%;
    width: 100%;
}
#div8-3 a{
    color: #a2a2b6;
}
#div8-4{
    height: 20px;
}
#div8-5{
    font-size: 20px;
    font-weight: bolder;
    margin-left: 16px;
}
#div8-6{
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
#div8-7{
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}
#div8-8,#div8-9,#div8-2-2,#div8-2-3,#div8-2-4{
    height: 30px;
    width: 30px;
    float: left;
}
#div8-8 img,#div8-9 img,#div8-2-2 img,#div8-2-3 img,#div8-2-4 img{
    height: 100%;
    width: 100%;
}
#div8-2-5{
    display: flex;
    justify-content: space-around;
    color: #A2A2B6;
    font-size: 10px;
}
.c2{
    display: flex;
    justify-content: space-around;
    color: #A2A2B6;
    font-size: 10px;
}
#kong{
    height: 90px;
}
