/*通用*/
body{
    background-color: #F6F6F6;   /*背景颜色*/
    margin: 0;       /*去边框*/
}
#div2-2,#div3,#div4{
    float: left;           /*向左对齐*/
}
#div2-2{
    margin-left: 200px;     /*增加左间距*/
}
#div5{
    float: right;
}
a{
    text-decoration: none;    /*去底部横线*/
}
#div2{
    background-color: white;    /*背景颜色*/
    height: 60px;
}
/*首页 发现 等你来答*/
#div3{
    margin-left: 30px;
    justify-content: center;
    align-content: center;
}
#div3 a{
    display: flex;            /*把a标签变成弹性盒子*/
    text-align: center;     /*居中对齐*/
    float: left;
    justify-content: center;  /*水平居中*/
    align-items: center;      /*垂直居中*/
}

#home{
    color: black;                           /*字体颜色*/
    border-bottom: 2px #0074E1 solid;       /*底部蓝横线*/
    height: 60px;
    width: 35px;
}

.c{
    color: #A7AFC1;          /*字体颜色*/
    height: 60px;
    width: 70px;
    margin-left: 10px;
}
/*搜索框*/
#div4{
    margin-left: 30px;
    display: flex;
    height: 60px;
    justify-content: center;  /*水平居中*/
    align-items: center;      /*垂直居中*/
}
#div4 input{
    height: 35px;
    width: 280px;
    border-radius: 5px;       /*设置边角*/
    border: 1px #EBEBEB solid;
    padding-left: 10px;       /*设置搜索框左间距*/
    float: left;
}
#div4 a{
    background-color: #0084FF;/*设置背景颜色*/
    justify-content: center;  /*水平居中*/
    align-items: center;      /*垂直居中*/
    height: 35px;
    width: 50px;
    color: white;            /*字体颜色*/
    border-radius: 5px;
    display: flex;          /*弹性盒子*/
    float: left;
    margin-left: 30px;     /*增加左间距*/
    /*border: none;       !*去掉外边框*!*/
    /*font-size: 100px;   !*字体大小*!*/
    /*    text-align: center; !*居中*!*/
}
/*图标*/
#div5{
    margin-right: 200px;  /*增加右间距*/
    height: 60px;
    display: flex;
    justify-content: center;  /*水平居中*/
    align-items: center;      /*垂直居中*/
}
#div5 div{
    height: 25px;
    width: 25px;
    float: left;
    margin-right: 30px;
    /*background-color: #A7AFC1;   !*设置背景颜色*!*/
}
#div5 img{
    height: 100%;
    width: 100%;
}
#div5-2{
    position: relative;            /*相对定位保留原本空间*/
}

#div5-3{
    height: 16px !important;
    width: 16px !important;
    background-color: red;      /*背景颜色*/
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: absolute;    /*绝对定位不保留原本的空间*/
    top: -3px;        /*顶部间距*/
    right: -30px;      /*右间距*/
}
#div5-4{
    height: 18px !important;
    width: 18px !important;
    background-color: white;
    border-radius: 9px;
    position: absolute;
    top: -3px;
    right: -30px;
}
